<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello World With EJS!!!</h1>
    <div>
      <img
        src="/images//z4191727383175_115efad2a016c9e32b1e00b14202caef.jpg"
        alt="../public//images//z4191727383175_115efad2a016c9e32b1e00b14202caef.jpg"
      />
    </div>
  </body>
</html>
